:root {
	--bg: #1f2028;
	--text: hsla(0, 0%, 100%, 0.922);
	--text-secondary: #a9adc1;
	--text-dark: #645f59;
	--border: hsl(333, 64%, 56%);
	--text-shadow: hsl(333, 84%, 78%);
	--font1: font1;
	--font2: font2;
}

@font-face {
	font-family: font1;
	src: url('/fonts/default.woff2');
}

@font-face {
	font-family: font2;
	src: url('/fonts/sriracha-latin.woff2');
}

::-webkit-scrollbar {
	width: 10px;
	height: 5px;
}

::-webkit-scrollbar-thumb {
	background-color: var(--border);
	border-radius: 100vw;
}

::-webkit-scrollbar-track {
	background-color: #f1f1f1;
	border-radius: 100vw;
	margin-block: 0.5rem;
}



*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

body {
	line-height: 1.7;
	-webkit-font-smoothing: antialiased;
	font-family: var(--font1);
	color: var(--text);
	background-color: var(--bg);
	width: 100%;
}

body ::selection {
	background-color: var(--border);
}

a {
	text-decoration: none;
	color: var(--text);
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

/* Typography */
:is(h1, h2, h3, h4, h5, h6) {
	margin-bottom: 1.38rem;
	font-weight: 400;
	line-height: 1.3;
	overflow-wrap: break-word;
}

h1 {
	font-size: clamp(2.488rem, 1.924rem + 1.41vw, 3.052rem);
}

h2 {
	font-size: clamp(2.074rem, 1.707rem + 0.9175vw, 2.441rem);
}

h3 {
	font-size: clamp(1.728rem, 1.503rem + 0.5625vw, 1.953rem);
}

h4 {
	font-size: clamp(1.44rem, 1.317rem + 0.3075vw, 1.563rem);
}

h5 {
	font-size: clamp(1.2rem, 1.15rem + 0.125vw, 1.25rem);
}

pre {
	padding: 1rem;
	border-radius: 0.5rem;
	margin: 0.5rem;
}



@media (max-width: 50em) {
	pre {
		padding: 0.5rem;
		margin: 0.5rem 0;
	}

	h1 {
		font-size: 2.074rem;
	}

	h2 {
		font-size: 1.728rem;
	}

	h3 {
		font-size: 1.44rem;
	}

	h4 {
		font-size: 1.2rem;
	}

	h5 {
		font-size: 1.1rem;
	}
}