:root {
	--color-white: #fff;
	--color-black: #161a1d;

	--color-gray-50: #f9fafb;
	--color-gray-100: #f3f4f6;
	--color-gray-200: #e5e7eb;
	--color-gray-300: #d1d5db;
	--color-gray-400: #9ca3af;
	--color-gray-500: #6b7280;
	--color-gray-600: #4b5563;
	--color-gray-700: #374151;
	--color-gray-800: #1f2937;
	--color-gray-900: #111827;

	--color-blue: hsl(200, 100%, 50%);
	--color-blue-hsl: 200, 100%, 50%;
	--color-blue-light: hsl(200, 100%, 75%);
	--color-blue-dark: hsl(200, 100%, 30%);
	--color-blue-dark-hsl: 200, 100%, 30%;
	--color-green: hsl(158, 78%, 42%);
	--color-green-dark: hsl(158, 78%, 22%);
	--color-orange: hsl(21, 100%, 60%);
	--color-orange-dark: hsl(21, 100%, 40%);
	--color-purple-hover: hsl(269, 79%, 84%);
	--color-purple: hsl(269, 79%, 74%);
	--color-purple-dark-hover: hsl(269, 79%, 54%);
	--color-purple-dark: hsl(269, 79%, 44%);
	--color-red: hsl(350, 100%, 54%);
	--color-red-dark: hsl(350, 100%, 44%);
	--color-yellow: hsl(41, 100%, 58%);
	--color-yellow-dark: hsl(41, 100%, 38%);
}

:root {
	--bg: #1f2028;
	--text: hsla(0, 0%, 100%, 0.922);
	--text-secondary: #a9adc1;
	--text-dark: #645f59;
	--border: hsl(333, 64%, 56%);
	--text-shadow: hsl(333, 84%, 78%);
	--font1: font1;
	--font2: font2;
	--theme-tangent-bg: var(--color-blue-ligh);
	--theme-tangent-border: var(--color-gray-300);
	--theme-tangent-code-inline-bg: var(--color-gray-400);
}

@font-face {
	font-family: font1;
	src: url('/fonts/default.woff2');
}

@font-face {
	font-family: font2;
	src: url('/fonts/sriracha-latin.woff2');
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	font-family: var(--font1);
	color: var(--text);
	background: var(--bg);
	width: 100%;
}

body ::selection {
	background-color: var(--border);
}
a {
	text-decoration: none;
	color: var(--text);
}
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}
pre {
	padding: 1rem;
	border-radius: 0.5rem;
	margin: 0.5rem;
}

#root,
#__next {
	isolation: isolate;
}

@media (max-width: 600px) {
	pre {
		padding: 0.5rem;
		margin: 0.5rem 0;
	}
}
