:root {
	--bg: #1f2028;
	--text: #ffffff;
	--text-secondary: #a9adc1;
	--border: hsl(333, 64%, 56%);
	/* --border: #545496; */
	--font1: font1;
	--font2: font2;
}

@font-face {
	font-family: font1;
	src: url('/fonts/default.woff2');
}

@font-face {
	font-family: font2;
	src: url('/fonts/sriracha-latin.woff2');
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	font-family: var(--font1);
	color: var(--text);
	background: var(--bg);
	width: 100%;
}

a {
	text-decoration: none;
	color: var(--text);
}
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

#root,
#__next {
	isolation: isolate;
}
