---
import Hero from '../components/Hero.astro'
import Layout from '../layouts/Layout.astro'
import Card from '../components/BlogCard.astro'

interface MarkdownFrontmatter {
	date: number
	title: string
	description: string
	tags: string[]
}

const allPosts = await Astro.glob<MarkdownFrontmatter>('./blogs/*.mdx')

allPosts.sort((a, b) => a.frontmatter.date - b.frontmatter.date)
---

<Layout title='Maaz | Developer'>
	<Hero />
	<div class='card__wrapper'>
		{
			allPosts
				.sort((a, b) => b.frontmatter.date - a.frontmatter.date)
				.map((item) => (
					<Card
						title={item.frontmatter.title}
						description={item.frontmatter.description}
						url={item.url}
						date={item.frontmatter.date}
					/>
				))
		}
	</div>
</Layout>

<style>
	.card__wrapper {
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}
</style>
