---
import Hero from '../components/Hero.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title='Maaz | Developer'>
	<Hero />
	<div></div>
	<div></div>
	<div></div>
</Layout>

<style>
	div {
		height: 100vh;
	}
</style>
