---
import Hero from '../components/Hero.astro';
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

const allPosts = await Astro.glob('./posts/*.mdx');
---

<Layout title='Maaz | Developer'>
	<Hero />
	<div>
		{
			allPosts.map((item) => (
				<Card
					title={item.frontmatter.title}
					description={item.frontmatter.description}
					url={item.url}
					date={item.frontmatter.pubDate}
				/>
			))
		}
	</div>
</Layout>

<style></style>
