---
import Card from '../components/Card.astro';
import Layout from '../layouts/Layout.astro';
const allPosts = await Astro.glob('./posts/*.mdx');
---

<Layout title='Maaz |Posts'>
	<div class='card__wrapper'>
		{
			allPosts.map((item) => (
				<Card
					title={item.frontmatter.title}
					description={item.frontmatter.description}
					url={item.url}
					date={item.frontmatter.pubDate}
				/>
			))
		}
	</div>
</Layout>

<style>
	.card__wrapper {
		margin-top: 12rem;
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}
</style>
