---
interface MarkdownFrontmatter {
	date: number
	title: string
	description: string
	tags: string[]
}

import Card from '../components/BlogCard.astro'
import Layout from '../layouts/Layout.astro'
const allPosts = await Astro.glob<MarkdownFrontmatter>('./blogs/*.mdx')
---

<Layout title='Maaz | Posts'>
	<div class='card__wrapper'>
		{
			allPosts.map((item) => (
				<Card
					title={item.frontmatter.title}
					description={item.frontmatter.description}
					url={item.url}
					date={item.frontmatter.date}
				/>
			))
		}
	</div>
</Layout>

<style>
	.card__wrapper {
		margin-top: 12rem;
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}
</style>
