---
const { date, title, description, slug } = Astro.props
---

<a href=`/posts/${slug}`>
	<div class='container'>
		<h3 class='card__title'>{title}</h3>
		<div class='card__description'>
			<span>{date}</span>
			<p>{description}...</p>
		</div>
	</div>
</a>

<style>
	.container {
		background-color: rgb(255, 255, 255, 0.1);
		padding: 1em;
		border-radius: 1rem;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 1rem;
		backdrop-filter: blur(10px);
		transition: all 0.4s linear;
		scrollbar-width: none;
		overflow: auto;
	}

	.container:hover {
		background-color: rgb(255, 255, 255, 0.2);
	}

	.card__title {
		font-weight: normal;
		font-size: 1.2rem;
	}

	.card__description {
		display: flex;
		align-items: center;
		gap: 1rem;
		color: var(--text-secondary);
	}

	.card__description > p {
		display: -webkit-box;
		overflow: hidden;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 2;
	}
	@media (max-width: 600px) {
		.card__description {
			flex-direction: column;
			align-items: start;
		}
	}
</style>
