---
import Link from './Link.astro';
---

<div class='wrapper'>
	<!-- Hero Header -->
	<div class='hero__header'>
		<div class='avatar__wrapper'>
			<div class='avatar'>
				<img
					src='/images/profile.webp'
					alt='maaz'
				/>
			</div>
		</div>
		<div class='hero__title'>
			<h1>Mohammed Ali Maaz</h1>
			<p>Full Stack developer.</p>
		</div>
	</div>
	<!-- Description -->
	<p class='hero__desc'>
		Welcome to my digital garden where I share what I'm learning about shipping
		great products, becoming a better developer and growing a career in tech.
	</p>
	<!-- Socials -->
	<div class='links'>
		<Link
			title='Posts'
			url='#'
		/>
		<Link
			title='Twitter'
			url='https://twitter.com/MdMaaz2907'
		/>
		<Link
			title='LinkedIn'
			url='https://www.linkedin.com/in/mohammed-ali-maaz-26962828b/'
		/>
		<Link
			title='Github'
			url='https://github.com/mdAliMaaz'
		/>
	</div>
</div>

<!-- Styles -->
<style>
	.wrapper {
		padding: 12rem 0.5rem 6rem 0.5rem;
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}
	/* HERO HEADER */
	.hero__header {
		display: flex;
		align-items: center;
		gap: 2rem;
	}
	/* HERO TITLE */
	.hero__title h1 {
		font-size: 2.25rem;
		font-weight: normal;
		font-family: var(--font2);
	}
	.hero__title p {
		color: var(--text-secondary);
	}
	/* AVATAR */
	.avatar__wrapper {
		width: 6rem;
		aspect-ratio: 1/1;
		background-color: hsla(0, 0%, 100%, 0.349);
		border-radius: 50%;
		display: grid;
		place-items: center;
		padding: 0.3rem;
	}
	.avatar {
		aspect-ratio: 1/1;
		border-radius: 50%;
		padding: 10px;
		border: 0.25rem solid var(--border);
		display: grid;
		place-items: center;
		backdrop-filter: blur(100px);
		cursor: pointer;
		transition: all 0.4s ease-out;
	}
	.avatar img {
		width: 100%;
		object-fit: contain;
	}
	.avatar:hover {
		box-shadow: 0 1px 6px 5px var(--border);
	}
	/* HERO DESC */
	.hero__desc {
		font-size: 1.25rem;
	}

	/* SOCIALS LINKS */
	.links {
		display: flex;
		align-items: center;
		gap: 1.5rem;
	}

	.icons {
		display: flex;
		align-items: center;
		gap: 0.5rem;
		justify-content: center;
		font-weight: 600;
	}

	.icons > span {
		color: var(--text-secondary);
	}
	.icons > svg {
		padding: 3px;
		border-radius: 3px;
		transition: all 0.2s linear;
		color: var(--text-secondary);
	}

	.icons:hover > svg {
		background-color: var(--border);
		box-shadow: 0 5px 5px var(--text-shadow);
		transform: scale(1.2);
		color: var(--text);
	}
	/* MEDIA */
	@media (max-width: 600px) {
		.hero__header {
			gap: 1rem;
		}
		.hero__title h1 {
			font-size: 1.5rem;
		}
		.hero__title p {
			font-size: 1rem;
		}
		.icons {
			flex-direction: column;
		}
	}
	@media (max-width: 300px) {
		.hero__title h1 {
			font-size: 1.2rem;
		}
		.hero__title p {
			font-size: 0.8rem;
		}

		.links {
			gap: 0.2rem;
		}
	}
</style>
