---
import { FaSquareXTwitter } from 'react-icons/fa6';
import { FaLinkedin } from 'react-icons/fa';
import { FaGithubSquare } from 'react-icons/fa';
---

<div class='wrapper'>
	<!-- Hero Header -->
	<div class='hero__header'>
		<div class='avatar'>
			<img
				src='/images/profile.webp'
				alt='maaz'
			/>
		</div>
		<div class='hero__title'>
			<h1>Mohammed Ali Maaz</h1>
			<p>Full Stack developer</p>
		</div>
	</div>

	<!-- Description -->
	<div class='hero__desc'>
		<p>
			Welcome to my digital garden where I share what I'm learning about
			shipping great products, becoming a better developer and growing a career
			in tech.
		</p>
	</div>
	<!-- Socials -->
	<div class='links'>
		<a
			href='https://twitter.com/MdMaaz2907'
			target='_blank'
		>
			<div class='icons'>
				<FaSquareXTwitter className='icon' />Twitter
			</div>
		</a>
		<a
			href='https://www.linkedin.com/in/mohammed-ali-maaz-26962828b/'
			target='_blank'
		>
			<div class='icons'>
				<FaLinkedin className='icon' />LinkedIn
			</div>
		</a>
		<a
			href='https://github.com/mdAliMaaz'
			target='_blank'
		>
			<div class='icons'>
				<FaGithubSquare className='icon' />Github
			</div>
		</a>
	</div>
</div>

<style>
	.wrapper {
		padding: 12rem 0.5rem;
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}
	.hero__header {
		display: flex;
		align-items: center;
		gap: 2rem;
	}
	.hero__title h1 {
		font-size: 2.25rem;
		font-weight: normal;
		font-family: var(--font2);
	}
	.hero__title p {
		color: var(--text-secondary);
	}
	.avatar {
		width: 5rem;
		aspect-ratio: 1/1;
		border-radius: 50%;
		padding: 10px;
		border: 2px solid var(--text);
		display: grid;
		place-items: center;
		-webkit-box-shadow: 5px 5px 16px 0px rgba(255, 255, 255, 1);
		-moz-box-shadow: 5px 5px 16px 0px rgba(255, 255, 255, 1);
		box-shadow: 5px 5px 16px 0px rgba(255, 255, 255, 1);
	}
	.avatar img {
		width: 100%;
	}

	.hero__desc {
		font-size: 1.25rem;
	}

	.links {
		display: flex;
		align-items: center;
		gap: 0.5rem;
	}

	.icons {
		display: flex;
		align-items: center;
		gap: 0.5rem;
		justify-content: center;
		font-weight: 600;
	}
	.icon {
		font-size: 1.5rem;
	}

	@media (max-width: 600px) {
		.hero__header {
			gap: 1rem;
		}
		.hero__title h1 {
			font-size: 1.2rem;
		}
	}
</style>
