---
import { Github, Linkedin, Twitter } from 'simple-icons-astro';
---

<div class='wrapper'>
	<!-- Hero Header -->
	<div class='hero__header'>
		<div class='avatar__wrapper'>
			<div class='avatar'>
				<img
					src='/images/profile.webp'
					alt='maaz'
				/>
			</div>
		</div>
		<div class='hero__title'>
			<h1>Mohammed Ali Maaz</h1>
			<p>Full Stack developer</p>
		</div>
	</div>

	<!-- Description -->
	<p class='hero__desc'>
		Welcome to my digital garden where I share what I'm learning about shipping
		great products, becoming a better developer and growing a career in tech.
	</p>
	<!-- Socials -->
	<div class='links'>
		<a
			href='https://twitter.com/MdMaaz2907'
			target='_blank'
		>
			<div class='icons'>
				<Twitter />
				 Twitter
			</div>
		</a>
		<a
			href='https://www.linkedin.com/in/mohammed-ali-maaz-26962828b/'
			target='_blank'
		>
			<div class='icons'>
				<Linkedin />
				 LinkedIn
			</div>
		</a>
		<a
			href='https://github.com/mdAliMaaz'
			target='_blank'
		>
			<div class='icons'>
				<Github />
				 Github
			</div>
		</a>
	</div>
</div>

<style>
	.wrapper {
		padding: 12rem 0.5rem;
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}
	/* HERO HEADER */
	.hero__header {
		display: flex;
		align-items: center;
		gap: 2rem;
	}
	/* HERO TITLE */
	.hero__title h1 {
		font-size: 2.25rem;
		font-weight: normal;
		font-family: var(--font2);
	}
	.hero__title p {
		color: var(--text-secondary);
	}
	/* AVATAR */
	.avatar__wrapper {
		width: 5.75rem;
		aspect-ratio: 1/1;
		background-color: hsla(0, 0%, 100%, 0.066);
		border-radius: 50%;
		display: grid;
		place-items: center;
		backdrop-filter: blur(100px);
	}
	.avatar {
		width: 5rem;
		aspect-ratio: 1/1;
		border-radius: 50%;
		padding: 10px;
		border: 0.25rem solid var(--border);
		display: grid;
		place-items: center;
	}
	.avatar img {
		width: 100%;
	}

	/* HERO DESC */
	.hero__desc {
		font-size: 1.25rem;
	}

	/* SOCIALS LINKS */
	.links {
		display: flex;
		align-items: center;
		gap: 1.5rem;
	}

	.icons {
		display: flex;
		align-items: center;
		gap: 0.5rem;
		justify-content: center;
		font-weight: 600;
	}

	/* MEDIA */
	@media (max-width: 600px) {
		.hero__header {
			gap: 1rem;
		}
		.hero__title h1 {
			font-size: 1.7rem;
		}
		.hero__title p {
			font-size: 1rem;
		}
		.icons {
			flex-direction: column;
		}
	}
</style>
