---

---

<a href='/'>
	<div class='avatar'>
		<img
			src='/images/profile.webp'
			alt='maaz'
		/>
	</div>
</a>

<style>
	.avatar {
		width: 3rem;
		aspect-ratio: 1/1;
		border-radius: 50%;
		padding: 10px;
		border: 0.25rem solid var(--border);
		display: grid;
		place-items: center;
		backdrop-filter: blur(100px);
		box-shadow: 0 0 6px rgba(255, 255, 255, 0.641);
		transition: all 0.2s ease-in-out;
		cursor: pointer;
	}
	.avatar img {
		width: 100%;
		object-fit: contain;
	}
	.avatar:hover {
		box-shadow: 0 5px 10px var(--text);
		transform: scale(1.3);
	}
</style>
